[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "external/taskflow"]
	path = external/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "external/mio"]
	path = external/mio
	url = https://github.com/mandreyel/mio.git
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
